* {
	font-family: 'Roboto', sans-serif !important;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	outline: 0;
}

img {
	position: relative;
	bottom: 10%;
	margin: 0 !important;
	padding: 0 !important;
}

/*Cursors*/
.cursor {
	pointer-events: none;       
} 
circle {
    fill: #f7f8fa;
     
}     
.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

/*Landing Section*/

.navbar {
	mix-blend-mode: difference!important;
}

.navbar-brand-img {
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    transition: background-size 275ms cubic-bezier(.5,0,.5,0);
    background-size: 100% 1px;
}

.navbar-nav {
	position: absolute;
	top: 50%;
	right:3%;
	font-size: 1rem;
}

.nav-item, .nav-link {
	text-decoration: none;
	color: var(--white);
	font-size: 1rem;
	padding: 0px;
	margin: 0px;
}

.landing-logoB {
	mix-blend-mode: red !important;
	overflow: hidden;
	top:1%;
	position: absolute;
	height:13rem;
	width: 13rem;
}

.landing-logo {
	z-index: 10;
	color: white;
	filter: invert(1) !important;
	top:1%;
	position: absolute;
	height:13rem;
	width: 13rem;
}

.landing-logo:hover {
	transition: all 0.4s ease-in-out;
	opacity: 0.2;
}

.landing-video {
	position: relative;
	height: 100vh;
	width: 100%;
    object-fit: cover;
}

#myVideo {
	position: relative;
 	/*background: url(../images/landing-img2.gif);*/
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: fixed;
	height: 100vh;
	width: 100%;
}

.landing-text {
	mix-blend-mode: difference !important;
	filter: invert(1) !important;
	color: var(--red);
	bottom: 5%;
	left: 10px;
	right: 10px;
	position: absolute;
	font-weight: 100;
	font-size: 13vw;
	line-height: 10vw;
}
@media only screen and (max-width: 600px){
	.landing-text {
		mix-blend-mode: difference !important;
		filter: invert(1) !important;
		color: var(--red);
		bottom: 5%;
		left: 10px;
		right: 10px;
		position: absolute;
		font-weight: 300;
		font-size: 18vw;
		line-height: 14vw;
	}
}

/*Platforms*/

#platforms {
	background-color: white;
	height: auto;
	width: 100%;
}

.platforms-col {
	background-color: white;
	height: auto;
}

.platform-text1 {
	font-size: 1.95rem;
	position: relative;
	margin: 20px;
	font-weight: 100;
	color: white;
}

.platform-text2 {
	font-size: 1rem;
	position: relative;
	top: 20%;
	margin: 20px;
	font-weight: 500;
}

/*Gallery*/

#gallery {
	background-color: white;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.gallery-caption{
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(360, 100, 100, 0.72);
  	color: #fff;
  	visibility: hidden;
  	opacity: 0;
  	transition: opacity .2s, visibility .2s;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.gallery-caption h4{
  	position: absolute;
  	top: 45%;
  	font-size: 1.5rem;
  	
}

.gallery-img-wrap:hover .gallery-caption {
  	visibility: visible;
  	opacity: 1;
}

.gallery-img1a{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img1b{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img1c{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img1d{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img1e{
    object-fit: cover;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img2a{
    object-fit: cover;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img2b{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img2c{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img2d{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img3a{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img3b{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img3c{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img3d{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img3e{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img3f{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img4a{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img4b{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img4c{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img4d{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img4e{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img4f{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

/*Exhibitions*/
#exhibitions {
	background-color: white;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.exhibition-text {
	font-size: 1rem;
	position: relative;
	bottom: 10%;
	margin: 20px;
	font-weight: 500;
}

.exhibition-img1a{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.exhibition-img1b{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.exhibition-img1c{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.exhibition-img1d{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.exhibition-img2a{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.exhibition-img2b{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.exhibition-img2c{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.exhibition-img2d{
    object-fit: cover;
	position: relative;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

/*Programs*/
#programs {
	background-color: white;
	height: auto;
	width: 100%;
	overflow: hidden;
}


.programs-text {
	font-size: 3rem;
	color: black;
	position: relative;
	bottom: 10%;
	font-weight: 100;
}

@media only screen and (max-width: 600px){
	.programs-text {
		display: flex;
		text-align: left;
		font-size: 1.5rem;
		position: relative;
		bottom: 10%;
		margin: 20px;
		font-weight: 100;
	}
}

.programs-col {
	padding-top: 50px;
	background-color: none;
	height: auto;
}

/*Podcasts*/
#podcasts {
	background-color: white;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.podcasts-text {
	font-size: 3rem;
	color: black;
	position: relative;
	bottom: 10%;
	margin: 20px;
	font-weight: 100;
}

.podcasts-col {
	position: relative;
	height: auto;
	width: 100%;
	margin-bottom: 100px;
}

/*About*/
#about {
	background-color: white;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.about-text {
	font-size: 3rem;
	position: relative;
	bottom: 10%;
	margin: 20px;
	font-weight: 100;
}

@media only screen and (max-width: 600px){
	.about-text {
		display: flex;
		text-align: left;
		font-size: 1.5rem;
		position: relative;
		bottom: 10%;
		margin: 20px;
		font-weight: 100;
	}
}

.collab-col img{
	position: relative;	
	height: 10rem;
	width: auto;
}

.collab-col {
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.collab-container {
	display: flex;
  	justify-content: center;
  	align-items: center;
}


.social-icon {
	position: relative;
	bottom: 0%;
	height: 40px;
	width: 40px;
}

.contact-text {
	font-size: 1rem;
	position: relative;
	bottom: 10%;
	margin: 20px;
	font-weight: 500;
}


/*Footer*/
.footer{
	text-align: center;
	font-weight: 300;
	font-size: 0.8rem;
}
